{% extends "base_menu.html" %}
{% block footer %}
<footer class="page-footer bg-light py-2">
    <div class="container text-center">
        <a class="fb-ic mr-3" role="button" target="_blank" href="https://www.linkedin.com/in/maksym-c-753805122/">
            <i class="fab fa-3x fa-lg fa-linkedin-in"></i>
        </a>
        <a class="git-ic mr-3" role="button" target="_blank" href="https://github.com/Maxiboii">
            <i class="fab fa-3x fa-lg fa-github"></i>
        </a>
        <a class="so-ic mr-3" role="button" target="_blank" href="https://stackoverflow.com/users/13965240/maxiboi">
            <i class="fab fa-3x fa-lg fa-stack-overflow"></i>
        </a>
    </div>
    <div class="container"><div class="small text-center text-muted">Copyright © 2022</div></div>
</footer>
{% endblock %}
