{% extends "base_bootstrap.html" %}
{% block navbar %}
{% load app_tags %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top py-3" id="mainNav">
    <a class="navbar-brand" href="/">Home</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item"><a class="nav-link js-scroll-trigger" href="/#portfolio">Portfolio</a></li>
        <li class="nav-item"><a class="nav-link js-scroll-trigger" href="/#contact">Contact</a></li>
        <li class="nav-item"><a class="nav-link js-scroll-trigger" href="/blog">Blog</a></li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Projects
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="{% url 'projects:data_project' %}">Data Project</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{% url 'projects:cosmic' %}">Cosmic Activity Panel</a>
                <div class="dropdown-divider"></div>
                <h6 id="dropdown-divider-name">Old Projects</h6>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{% url 'projects:map' %}">Map</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{% url 'projects:bot' %}">Bot</a>
            </div>
        </li>
    </ul>
    <ul class="navbar-nav">
        {% if user.is_authenticated %}
        <li class="nav-item">
            <a class="navbar-brand">{{ user }}</a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <img style="width: 45px;" src="{{ user|gravatar }}"/>
            </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <!-- <a class="dropdown-item" href="#"><b>Profile</b></a> -->
          <!-- <div class="dropdown-divider"></div> -->
          <a class="dropdown-item" href="{% url 'logout' %}?next={{ request.path }}">Logout</a>
        </div>
      </li>
        {% else %}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'register' %}?next={% url 'home' %}">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'login' %}?next={{ request.path }}">Login</a>
        </li>
        {% endif %}
    </ul>
  </div>
</nav>
{% endblock %}
