{% extends "base_footer.html" %}
{% load humanize %}


{% block comment_block %}
<div class="container">
    <div class="row">
        <div class="col"></div>
            <div class="col-md-12 col-lg-8">
                <div class="comments">
                    {% if user.is_authenticated %}
                        <br clear="all"/>
                        <p>
                            {% load crispy_forms_tags %}
                            <form method="post" action="{% url comment_create_link %}">
                                {% csrf_token %}
                                {{ comment_form|crispy }}
                                <input class="btn btn-primary" type="submit" value="Submit">
                            </form>
                        </p>
                    {% else %}
                        <h4 class="text-right"><a class="badge badge-primary" href="../accounts/login?next={% url login_redirect_link %}">Login</a> to comment</h4>
                    {% endif %}
                    <div class="page-header">
                        <h4>{{ comment_count }} Comments</h4>
                    </div>
                    {% for comment in comments %}
                        <p>
                            <h4 class="media-heading user_name">{{ comment.owner }}</h4>
                            <div class ="text">
                                {{ comment.text }}
                                {% if user == comment.owner %}
                                <a href="{% url comment_delete_link comment.id %}"><i class="fa fa-trash"></i></a>
                                {% endif %}
                            </div>
                            <p class="text-right"><small>{{ comment.updated_at|naturaltime }}</small></p>
                        </p>
                        <hr/>
                    {% endfor %}
                    </div>
                </div>
        <div class="col"></div>
    </div>
</div>
{% endblock %}
