{% extends "base_footer.html" %}


{% block content %}
<section class="page-section bg-primary" id="about">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 text-center">
                <h2 class="text-white mt-0">Description</h2>
                <hr class="divider light my-4" />
                <h5 class="text-white-75">
                    Future data project
                </h5>
                <p class="text-white-75 mb-4">
                    I don't currently know what the project will be about,
                    but I know I'm going to build a REST and GraphQL APIs and have some up-to-date data
                </p>
                <p class="text-white-75 mb-4">
                    And on this page I was thinking to blog about the making of the app.
                    So I need to make a blog app to blog about the data app.🤔
                </p>
                <a class="btn btn-light btn-xl js-scroll-trigger" href="#">Update Data</a>
            </div>
        </div>
    </div>
</section>
{% endblock %}