{% extends "base_menu.html" %}
{% load humanize %}
{% load static %}

{% block title %} Activity Panel {% endblock %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/panel.css' %}">
<link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;900&family=Roboto&display=swap" rel="stylesheet">
{% endblock %}
{% block content %}
<div class="main">
    <h1>Cosmic Activity Panel</h1>
    <h2>Bodies around Earth at this moment</h2>
    <h3><span id="date"></span></h3>

    <table id="content">
        <tr>
            <th>Name</th>
            <th>Diameter, m</th>
            <th>Potentially dangerous</th>
            <th>Close approach in</th>
            <th>Appearance</th>
            <th></th>
        </tr>
    </table>
</div>
<p id="bottom-text"><small>Data from NASA Neo API</small></p>
<script src="{% static 'js/app.js' %}"></script>
<div class="container">
    <div class="row">
        <div class="col"></div>
            <div class="col-md-12 col-lg-8">
                <div class="comments">
                    {% if user.is_authenticated %}
                        <br clear="all"/>
                        <p>
                            {% load crispy_forms_tags %}
                            <form method="post" action="{% url 'cosmic:panel_comment_create' %}">
                                {% csrf_token %}
                                {{ comment_form|crispy }}
                                <input class="btn btn-primary" type="submit" value="Submit">
                            </form>
                        </p>
                    {% else %}
                        <h4 class="text-right"><a class="badge badge-primary" href="../accounts/login?next={% url 'cosmic:panel' %}">Login</a> to comment</h4>
                    {% endif %}
                    <div class="page-header">
                        <h4>{{ n }} Comments</h4>
                    </div>
                    {% for comment in comments %}
                        <p>
                            <h4 class="media-heading user_name">{{ comment.owner }}</h4>
                            <div class ="text">
                                {{ comment.text }}
                                {% if user == comment.owner %}
                                <a href="{% url 'cosmic:panel_comment_delete' comment.id %}"><i class="fa fa-trash"></i></a>
                                {% endif %}
                            </div>
                            <p class="text-right"><small>{{ comment.updated_at|naturaltime }}</small></p>
                        </p>
                        <hr/>
                    {% endfor %}
                    </div>
                </div>
        <div class="col"></div>
    </div>
</div>
{% endblock %}
